body {
  margin: 0;
  background-color: #24292e;
}
.box {
  background-color: #f8f8f8;
  font-family: 'Myriad Pro', Arial, sans-serif;
  margin: 10em auto 0;
  width: 480px;
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.box h1 {
  margin: 0 0 0.25em 0;
}
.box p {
  margin: 0.25em;
}
