body {
  margin: 0;
  background-color: #b6b6b4;
}
.box {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10em auto 0;
  width: 480px;
  text-align: center;
  padding: 1.5em 1.5em 1em 1.5em;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.box h1 {
  margin: 0 0 0.25em 0;
}
p.input {
  margin: 0.5em;
}
p.input a {
  color: #17769a;
  text-decoration: none;
}
p.input a:hover {
  color: #21a9dd;
}
.box input[type=text] {
  font-size: 10pt;
  padding: 7px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 250px;
}
.box input[type=text]:focus {
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.box input[type=button] {
  font-size: 12pt;
  margin: 0.75em 0 0 0;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #dddddd;
}
.box input[type=button]:hover {
  background-color: #cccccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
